<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="form-page-container">
      <div class="form-card">
        <header class="form-card__header">
          <h2 class="form-card__title">Join the club</h2>
        </header>
        <form action="/join" method="post" class="form-interactive">
          <div
            class="form-field <%= (locals.error) ? 'form-field--error' : '' %>"
          >
            <label for="code" class="form-field__label">Enter secret code</label>
            <input type="text" name="code" id="code" value="<%= locals.error?.value || '' %>" autocomplete="off" required />
            <% if (locals.error) { %>
            <span class="form-field__error-text"><%= error.msg %></span>
            <% } %>
          </div>
          <div class="form-actions">
          <button type="submit" class="btn btn--primary">Submit</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
